{%extends 'home.html'%} 
{%block content%} 
<form method="post" class="text-center" >
    {% csrf_token %}
    <input class="form-control" placeholder="name" value="{{sdata.name}}" name="name" type="text">
    <input class="form-control" name="phone"  type="number" value="{{sdata.phone}}" placeholder="phone">
    <input type="text" name="address" class="form-control" value="{{sdata.address}}" placeholder="address">
    <input type="number" name="age" class="form-control" value="{{sdata.age}}" placeholder="age">
    <input type="email" name="email" class="form-control" value="{{sdata.email}}" placeholder="email">
    <button type="submit" class="btn btn-success">submit</button>
</form>
{%endblock content%} 